.form {
  border-radius: 30px;
  width: 90%;
  height: 420px;
  max-width: 400px;
  padding: 30px;
  background: radial-gradient(circle at top, #313949 -50%, #171e28 50% 100%);
  background-size: 150% 200%;
  background-position: center;
  background: linear-gradient();
  display: grid;
}
.imageWrapper {
  background-color: var(--dark-blue);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  box-shadow: 0 0 2px 2px #0001;
}

.title {
  color: var(--white);
  font-size: 2rem;
}
.text {
  color: var(--light-gray);
  line-height: 1.5;
}

.footerCard{
  display:flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
}

.btnsCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.btn {
  border-radius: 30px;
  width: 55px;
  height: 55px;
  border: none;
  outline: none;
  color: var(--medium-gray);
  text-align: center;
  background-color: var(--dark-blue);
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  transition: all .2s;
}

.btn:hover {
  background-color: var(--orange);
  color: var(--white);
}

.btnSubmit{
  width: 100%;
  height: 45px;
  text-align: center;
  color: var(--white);
  background-color: var(--orange);
  border-radius: 999px;
  border:none;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: 700;
  transition: all .2s;
}

.btnSubmit:hover{
  background-color: var(--white);
  color: var(--orange);
}


#buttonSelected {
  background-color: var(--medium-gray);
  color: var(--white);
}

@media (max-width: 50em) {
  .btn {
    width: 50px;
    height: 50px;

  }
  
  
}